@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Sen&family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

.movie-card {
  display: flex;
  background: linear-gradient(
      to right,
      rgba(22.75%, 23.53%, 28.24%, 1) 150px,
      rgba(22.75%, 23.53%, 28.24%, 0.84) 100%
    ),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  margin-top: 5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.movie-poster-container {
  display: inline-block;
  height: 85%;
  width: 30%;
  text-align: right;
  position: relative;
  left: -70rem;
  animation: slide-from-left 3s ease-in-out forwards;
}

@keyframes slide-from-left {
  80% {
    left: 0.5rem;
  }
  100% {
    left: 0;
  }
}

.movie-poster {
  height: 100%;
  border-radius: 5px;
  transition: all 0.7s;
  cursor: pointer;
}

.movie-poster:hover {
  transform: scale(1.03);
  box-shadow: 8px 8px 8px -4px rgb(86, 86, 86);
}

.movie-info-container {
  padding-left: 2rem;
  color: #fff;
  width: 70%;
}

.movie-info-container > :not(.movie-info-title) {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.movie-info-title {
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2.5rem;
  transform: translateY(-70rem);
  animation: slide-from-top 3s ease-in-out forwards;
}

@keyframes slide-from-top {
  80% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.movie-rating {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 5px;
}

.movie-duration {
  margin-left: 1rem;
  letter-spacing: 0.2rem;
}

.movie-duration:before {
  content: "\2022 ";
}

.movie-info-actions {
  font-size: 1.1rem;
}

.movie-info-actions ul {
  list-style: none;
}

.movie-info-actions ul li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(3, 37, 65);
}

.movie-info-actions ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-info-quote {
  color: rgba(255, 255, 255, 0.596);
  font-style: italic;
  font-size: 1.2rem;
}

.movie-info-overview-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.movie-info-people {
  margin-top: 1.5rem;
  list-style: none;
}

.movie-info-people li {
  display: inline-block;
  margin-right: 15rem;
}

.movie-info-people li p:first-child {
  font-weight: 900;
}

footer {
  margin-top: 2rem;
  text-align: center;
  color: #777;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

footer ul li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}
